{{ define "main" }}

{{ $page := . }}

<section>
 <div class="pb-0">
   <img src="/{{ .Site.Params.imgURL }}/imgs/hotel/single_top.png" class="img-fluid max-width: 100%; height: auto; d-none d-sm-block" alt="..." width="1920" height="220">
 </div>
</section>

<section class="fdb-block pt-5 pb-5">
  <div class="container">
    <h2 class="pb-4" style="border-bottom: solid 1px #b9b8b8;"><i class="fas fa-ellipsis-v"></i>&nbsp;과정정보</h2>
    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pb-5 pb-md-0">
        {{ with $page.Resources.GetMatch "cover.png" }}
            <img src="{{ .RelPermalink}}" class="img-fluid mx-auto d-block">
        {{ end }}
      </div>

      <div class="col-12 ml-md-auto col-md-7 col-lg-6 pb-5 pb-md-0">
        <h2>{{ $page.Title }}</h2>
        <p class="lead pb-3" style="border-bottom: solid 1px #b9b8b8;">{{ .Params.대분류 }} > {{ .Params.중분류 }} > {{ .Params.소분류 }}</p>
        <p class="text-primary text-right lead pb-3"><i
          class="fas fa-won-sign"></i><strong>{{ lang.NumFmt 0 .Params.교육비 }}</strong></p>
        <p class="mt-4">
          <a class="popup-video btn btn-primary float-right" href="{{ .Params.샘플URL }}">맛보기</a>
        </p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
  	$('.popup-video').magnificPopup({
		disableOn: 700,
		type: 'iframe',
		mainClass: 'mfp-fade',
		removalDelay: 160,
		preloader: false,
		fixedContentPos: false
   	});
    });
  </script>

  <div class="container">
    <table class="table text-center mt-5 d-none d-lg-table">
      <tbody>
        <tr>
          <th style="width: 25%">· 내용전문가</th>
          <td style="width: 25%">{{ .Params.내용전문가_이름_소속_ }}</td>
          <th style="width: 25%">· 학습기간</th>
          <td style="width: 25%">1개월</td>
        </tr>
        <tr>
          <th>· 학습시간</th>
          <td>{{ .Params.시간 }}시간</td>
          <th>· 차시수</th>
          <td>{{ .Params.차시수 }}차시</td>
        </tr>
        <tr>
          <th>· 복습기간</th>
          <td>수료 후 6개월</td>
          <th>· 난이도</th>
          <td>{{ .Params.난이도 }}</td>
        </tr>
        <tr>
          <th>· 교육비</th>
          <td>{{ lang.NumFmt 0 .Params.교육비 }}원</td>
          <th>· 1일 제한차시</th>
          <td>8차시</td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <th></th>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table class="table text-center mt-1 mb-0 d-none d-lg-table">
      <tbody>
        
        <tr>
          <th style="width: 33%">· 구분</th>
          <th style="width: 33%">· 정부지원금</th>
          <th style="width: 33%">· 자기부담금</th>
        </tr>
        <tr>
          <th>· 우선지원기업</th>
          <td>{{ lang.NumFmt 0 .Params.지원금_우선_ }}원</td>
          <td>{{ if eq .Params.지원금_우선_ 0 }}{{ lang.NumFmt 0 .Params.교육비 }}원{{ else }}{{ lang.NumFmt 0 (sub .Params.교육비 .Params.지원금_우선_) }}원{{ end }}</td>
        </tr>
        <tr>
          <th>· 중견기업</th>
          <td>{{ lang.NumFmt 0 .Params.지원금_중견_ }}원</td>
          <td>{{ if eq .Params.지원금_중견_ 0 }}{{ lang.NumFmt 0 .Params.교육비 }}원{{ else }}{{ lang.NumFmt 0 (sub .Params.교육비 .Params.지원금_중견_) }}원{{ end }}</td>
        </tr>
        <tr>
          <th>· 대기업</th>
          <td>{{ lang.NumFmt 0 .Params.지원금_대기업_ }}원</td>
          <td>{{ if eq .Params.지원금_대기업_ 0 }}{{ lang.NumFmt 0 .Params.교육비 }}원{{ else }}{{ lang.NumFmt 0 (sub .Params.교육비 .Params.지원금_대기업_) }}원{{ end }}</td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>  
</section>

<section>
  <div class="pb-0">
    <img src="/{{ .Site.Params.imgURL }}/imgs/hotel/single_intro.png" class="img-fluid max-width: 100%; height: auto; d-none d-sm-block" alt="..." width="1920" height="220">
  </div>
 </section>

<section class="fdb-block" style="background-color: #3a2ee7; border: solid 1px #3a2ee7;">
  <div class="container">
    <div class="row text-left">
      <div class="col-12 col-md-6">
        
        <h2 class="text-white"><i class="fas fa-ellipsis-v"></i>&nbsp;과정소개</h2>
        <p class="mb-0"><h3 class="text-white">{{ (replace .Params.과정소개 "\n" "<br>") | safeHTML }}</h3></p>
      </div>
      <div class="col-12 col-md-6 pt-5 pt-md-0">
        
        <h2 class="text-white"><i class="fas fa-ellipsis-v"></i>&nbsp;학습목표</h2>
        <p class="mb-0"><h3 class="text-white">{{ (replace .Params.학습목표 "\n" "<br>") | safeHTML }}</h3></p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="pb-0">
    <img src="/{{ .Site.Params.imgURL }}/imgs/hotel/single_tutor.png" class="img-fluid max-width: 100%; height: auto; d-none d-sm-block" alt="..." width="1920" height="220">
  </div>
 </section>

<section class="fdb-block pt-1 pb-4">
  <div class="container"> 
    <div class="alert mt-5" role="alert">
      <h2 class="alert-heading"><i class="fas fa-ellipsis-v"></i>&nbsp;내용전문가</h2>
      <hr>
      <p class="mb-0"><h2 class="text-muted">{{ .Params.내용전문가_이름_소속_ }}</h2></p>
    </div>
  </div>
</section>

<section>
  <div class="pb-0">
    <img src="/{{ .Site.Params.imgURL }}/imgs/hotel/single_trainer.png" class="img-fluid max-width: 100%; height: auto; d-none d-sm-block" alt="..." width="1920" height="220">
  </div>
 </section>

<section class="fdb-block" style="background-color: #e72e36; border: solid 1px #e72e36;">
  <div class="container">
    <div class="row text-left">
      <div class="col-12 col-md-6">
        
        <h2 class="text-white"></h2>
        <p class="mb-0"></p>
      </div>
      <div class="col-12 col-md-6 pt-5 pt-md-0">
        
        <h2 class="text-white"><i class="fas fa-ellipsis-v"></i>&nbsp;학습대상</h2>
        <p class="mb-0"><h3 class="text-white">{{ (replace .Params.학습대상 "\n" "<br>") | safeHTML }}</h3></p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="pb-0">
    <img src="/{{ .Site.Params.imgURL }}/imgs/hotel/single_curri.png" class="img-fluid max-width: 100%; height: auto; d-none d-sm-block" alt="..." width="1920" height="220">
  </div>
 </section>

<section class="fdb-block pt-1 pb-4">
  <div class="container"> 
    <div class="alert mt-5" role="alert">
      <h2 class="alert-heading"><i class="fas fa-ellipsis-v"></i>&nbsp;학습내용</h2>
      <hr>
      <p class="mb-0"><h3 class="text-muted">{{ (replace .Params.학습내용_목차_ "\n" "<br>") | safeHTML }}</h3></p>
    </div>
  </div>
</section>

<section class="fdb-block pt-4 pb-4">
  <div class="container"> 
    {{ if gt .Params.tags 0 }}
             {{ range first 3 .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="badge badge-pill badge-danger"># {{ . }}</a>
                &nbsp;                
             {{ end }}
         {{ end }}
  </div>
</section>





{{ end }}